streamlit==1.10.0
pandas>=1.4.2  # Ensure pandas installs correctly
plotly==5.6.0
scikit-learn>=1.1.0
pickle-mixin==1.0.2
setuptools>=60.0.0  # Ensure setuptools is updated to avoid 'pkg_resources' error
Pillow>=8.0.0
